.tag {
  color: white;
  background-color: #373737;
  padding: 5px 15px;
  border-radius: 15px;
  border: solid 0.5px #5e5c5c;
  transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
  font-size: 14px;
  user-select: none;
  &:hover {
    background-color: #636060;
    cursor: pointer;
  }

  &.active {
    background-color: #636060;
  }
}
