.guideSection {
  width: var(--left-side-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  

  &.collapse {
    --left-side-width: 70px;
    transition: all 0.2s ease-in-out;
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    padding: 10px 20px;
    outline: none;
    color: white;
    span {
      font-size: 14px;
    }
    &:hover {
      background-color: #383838;
    }
  }

  &__separator {
    width: 95%;
    border: 0.5px solid #383838;
    border-bottom: none;
  }

  .active {
    background-color: #383838;
  }
}


